body {
  font-family: "Poppins", sans-serif;
}
p {
  line-height: 150%;
  color: #444444;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #7b4ec4;
}
button {
  cursor: pointer;
}
.container {
  max-width: 1200px;
  margin: auto;
}
h1 {
  font-size: 30px;
  padding: 10px 10px 10px 0px;
  font-weight: bold;
  color: #444444;
  margin: 15px 0px 10px 0px;
}
h2 {
  font-weight: bold;
  font-size: 18px;
  color: #444444;
}
h3 {
  color: #777777;
  font-weight: bold;
}
span {
  color: #7b4ec4;
}
header {
  border-bottom: 5px solid #7b4ec4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo-link {
  display: flex;
  gap: 20px;
}
.menu a {
  color: #424242;
  font-size: 16px;
}
.logo {
  width: 200px;
}
.logo img {
  width: 100%;
}
.connexion button {
  background-color: white;
  color: #7b4ec4;
  padding: 13px;
  font-size: 16px;
  border: solid 2px #7b4ec4;
  border-radius: 10px;
  width: 100px;
  text-align: center;
}
.connexion {
  display: flex;
  gap: 30px;
}
.log-out button {
  border: none;
  padding: 13px;
  background-color: #89288f;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  margin-right: 10px;
}
.banner {
  background-image: url("../src/assets/img/banner.webp");
  background-position: center;
  background-size: cover;
  padding: 20px;
  height: 350px;
  margin-bottom: 30px;
}
.banner input {
  width: 750px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  font-family: "Poppins";
  box-shadow: 2px 2px 12px black;
}

.banner h2 {
  color: white;
  font-size: 36px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  margin-top: 50px;
  text-shadow: 2px 2px 8px black;
}
.input-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  gap: 20px;
}
.input-banner button {
  background-color: white;
  color: #444444;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  box-shadow: 2px 2px 10px black;
}
.banner-infos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.users-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  max-width: 99%;
}
.users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.users-avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}
.users-link {
  display: flex;
  max-width: 1200px;
  justify-content: center;
  margin-bottom: 20px;
}
.elements {
  max-width: 280px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
}
.elements-container {
  position: relative;
}
.elements img {
  height: 200px;
  width: 280px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}
.elements h3 {
  padding: 2px;
}
.elements h2 {
  display: flex;
  align-items: center;
  gap: 5px;
}
.elements p {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.background {
  background-color: #f5f5f5;
  padding: 10px;
}
.carousel-container {
  max-width: 1200px;
  margin: auto;
}
.favorite-button {
  position: absolute;
  top: -4px;
  left: 15px;
  padding: 10px 7px;
  font-size: 23px;
  border: none;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.fav-white {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(0, 0, 0, 0.9);
}
.fav-red {
  color: rgb(255, 0, 0);
}
footer {
  background-color: #7b4ec4;
  color: white;
  text-align: center;
  padding: 20px;
}
.react-multi-carousel-track {
  gap: 10px;
}
img.label-vege {
  width: 25px;
  height: 25px;
}
.yellow-star {
  color: goldenrod;
}
.empty-star {
  color: grey;
}
.ratings {
  font-size: 12px;
}
footer p {
  color: white;
}
footer a {
  color: white;
}
.type-vg-label {
  display: flex;
  align-items: center;
  background-color: #22820e;
  width: 90px;
  padding: 5px;
  justify-content: space-evenly;
  border-radius: 10px;
  margin-bottom: 5px;
}
.type-vg-label p {
  color: white;
  margin-right: 5px;
}
.type-vr-label p {
  color: white;
  margin-right: 5px;
}
.type-vr-label {
  display: flex;
  align-items: center;
  background-color: #89288f;
  color: white;
  justify-content: space-evenly;
  width: 130px;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.images-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 5px;
  position: relative;
}
.link-to-all-pictures {
  padding: 8px 15px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  position: absolute;
  bottom: 5px;
  left: 5px;
}
.link-to-all-pictures:hover {
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.3s ease;
}
.images-container img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
.restaurant-page {
  display: flex;
  justify-content: space-evenly;

  margin-top: 20px;
}
.all-pictures-container {
  max-width: 1200px;
  flex-wrap: wrap;
  margin: auto;
  display: flex;
  gap: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  margin: 20px auto;
}
.images-all-pictures {
  width: 380px;
  height: 300px;
}

.all-pictures-container img {
  width: 100%;
  height: 100%;
  border-radius: 20px;

  object-fit: cover;
  object-position: center;
}
.left-section {
  max-width: 55%;
}
.right-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}
.add-favorites-button {
  border: none;
  padding: 5px;
  background-color: #7b4ec4;
  font-size: 16px;
  color: white;
  border-radius: 5px;
  margin-top: 5px;
}
.map-container {
  width: 300px;
  height: 300px;
  border: solid 1px #7b4ec4;
  margin-bottom: 20px;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}
.icons {
  margin-right: 10px;
  color: #424242;
}
.payments {
  border: none;
  border-bottom: 1px solid #777777;
  border-top: 1px solid #777777;
  margin-top: 30px;
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
}
.nearby-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.nearby-pictures {
  height: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.nearby-places h3 {
  margin-bottom: 20px;
  font-size: 22px;
  margin-top: 10px;
}
.modal {
  border-radius: 20px;
  display: flex;
  width: 800px;
  justify-content: space-between;
  gap: 50px;
  background-color: white;
  padding: 20px;
}
.modal input {
  width: 90%;
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
}
.modal button {
  width: 40%;
  background-color: #7b4ec4;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 5px;
  font-size: 18px;
}
.login-right form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.login-right {
  width: 50%;
}
.login-left {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 50%;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-image: url("../src/assets/img/login.jpg");
  background-position: center;
  background-size: cover;
}

.login-left p {
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 8px black;
}
.login-left h2 {
  font-size: 25px;
  color: white;
  text-shadow: 2px 2px 8px black;
}
.login-right p {
  color: #7b4ec4;
}
.modal-body {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.connexion-choice {
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
  font-size: 25px;
  align-items: center;
}
.connexion-button {
  display: flex;
  justify-content: center;
}
.explore-container {
  display: flex;
  padding: 20px;
}
.map-container-explore {
  height: 100vh;
  width: 50%;
  margin: auto;
}
.explore-title input {
  width: 50%;
  padding: 5px;
  border: none;
  border-bottom: 2px solid #7b4ec4;
  font-size: 23px;
}
.explore-left {
  width: 50%;
  height: 100vh;
  overflow: scroll;
}
.vegan-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.restaurants-info {
  display: flex;
  flex-direction: column;
  width: 30%;
  flex-wrap: wrap;
}
.explore-images {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.explore-title {
  margin-bottom: 20px;
}
.explore-description {
  padding: 10px 10px 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.popup-image {
  width: 100px;
  border-radius: 10px;
}
.all-restaurants {
  background-color: red;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  gap: 30px;
}
.all-pictures {
  flex: 1;
  width: 300px;
  height: 300px;
}
.favorite-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 20px auto;
  padding: 20px;
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.favorite-container img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.favorites {
  width: 30%;
}
.favorites-title {
  width: 95%;
  margin-bottom: 5px;
}
@media only screen and (max-width: 900px) {
  body {
    max-width: 900px;
    margin: auto;
  }
  section {
    padding: 0px 10px;
  }
  .banner input {
    width: 100%;
  }
  .homepage-section {
    margin: auto;
  }
  .users-container {
    max-width: 90%;
    flex-wrap: wrap;
  }
  .images-container img {
    width: 180px;
    height: 180px;
  }
  .left-section {
    padding-left: 10px;
  }
  .left-section p {
    max-width: 90%;
  }
  .nearby-container {
    max-width: 99%;
    margin: auto;
    margin-bottom: 5px;
  }
  .map-container {
    width: 100%;
  }
  .map-container-explore {
    display: none;
  }
  .explore-left {
    width: 100%;
  }
  .vegan-container {
    justify-content: center;
  }
  .explore-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .explore-title h1 {
    margin-left: 30px;
  }
  .modal {
    width: 100%;
    flex-direction: column;
  }
  .login-left {
    width: 100%;
  }
  .login-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .connexion-choice {
    width: 90%;
  }
  li.react-multi-carousel-item.react-multi-carousel-item--active {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .menu {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  .connexion {
    flex-direction: column;
    gap: 10px;
  }
  .connexion button {
    padding: 5px;
  }
  .logo-link {
    padding-left: 10px;
  }
  .banner-infos h2 {
    width: 100%;
    padding: 2px;
  }
  .restaurant-page {
    flex-direction: column;
  }
  .left-section {
    max-width: 100%;
    padding-left: 0px;
  }
  .left-section p {
    max-width: 100%;
  }
  .images-container {
    justify-content: center;
  }
  .images-container img {
    width: 50%;
    height: 150px;
    flex: 1;
  }
  .hidden {
    display: none;
  }

  .modal {
    width: 90%;
  }
  .connexion-choice {
    padding: 2px;
    margin-bottom: 10px;
  }
  .modal button {
    display: flex;
    justify-content: center;
  }
  .connexion-choice p {
    font-size: 16px;
  }
}
