body {
  font-family: "Poppins", sans-serif;
}
p {
  line-height: 130%;
  color: #444444;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: auto;
}
h1 {
  font-size: 30px;
  padding: 10px;
  font-weight: bold;
  color: #444444;
  margin-top: 50px;
}
h2 {
  font-weight: bold;
  font-size: 18px;
  color: #444444;
}
h3 {
  color: #777777;
  font-weight: bold;
}
header {
  border-bottom: 5px solid #7b4ec4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.menu {
  display: flex;
}

.logo {
  width: 200px;
}
.logo img {
  width: 100%;
}
.banner {
  background-image: url("../src/assets/img/banner.webp");
  background-position: center;
  background-size: cover;
  padding: 20px;
}
.banner input {
  width: 750px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  font-family: "Poppins";
  margin-bottom: 100px;
  box-shadow: 2px 2px 12px black;
}
.banner h2 {
  color: white;
  font-size: 36px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  margin-top: 50px;
  text-shadow: 2px 2px 8px black;
}
.banner-infos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carroussels-container {
  flex-wrap: nowrap;
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  padding: 5px;
}
.carroussels-container img {
  border-radius: 20px;
  height: 200px;
  width: 280px;
  object-fit: cover;
}
.smoothies {
  background-color: #f5f5f5;
}
.elements p {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
