body {
  font-family: "Poppins", sans-serif;
}
p {
  line-height: 150%;
  color: #444444;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #7b4ec4;
}
button {
  cursor: pointer;
}
.container {
  max-width: 1200px;
  margin: auto;
}
h1 {
  font-size: 30px;
  padding: 10px 10px 10px 0px;
  font-weight: bold;
  color: #444444;
  margin: 15px 0px 10px 0px;
}
h2 {
  font-weight: bold;
  font-size: 18px;
  color: #444444;
}
h3 {
  color: #777777;
  font-weight: bold;
}
header {
  border-bottom: 5px solid #7b4ec4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu a {
  color: #424242;
  font-size: 16px;
}
.logo {
  width: 200px;
}
.logo img {
  width: 100%;
}
.connexion a {
  background-color: white;
  color: #7b4ec4;
  padding: 13px;
  font-size: 16px;
  border: solid 2px #7b4ec4;
  border-radius: 10px;
  width: 100px;
  text-align: center;
}
.connexion {
  display: flex;
  gap: 30px;
}
.banner {
  background-image: url("../src/assets/img/banner.webp");
  background-position: center;
  background-size: cover;
  padding: 20px;
  height: 350px;
  margin-bottom: 30px;
}
.banner input {
  width: 750px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  font-family: "Poppins";
  margin-bottom: 100px;
  box-shadow: 2px 2px 12px black;
}
.banner h2 {
  color: white;
  font-size: 36px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  margin-top: 50px;
  text-shadow: 2px 2px 8px black;
}
.banner-infos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.elements {
  max-width: 280px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
}
.elements img {
  height: 200px;
  width: 280px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}
.elements h3 {
  padding: 2px;
}
.elements h2 {
  display: flex;
  align-items: center;
  gap: 5px;
}
.elements p {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.background {
  background-color: #f5f5f5;
  padding: 10px;
}
.carousel-container {
  max-width: 1200px;
  margin: auto;
}
footer {
  background-color: #7b4ec4;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}
.react-multi-carousel-track {
  gap: 10px;
}
img.label-vege {
  width: 25px;
  height: 25px;
}
.yellow-star {
  color: goldenrod;
}
.empty-star {
  color: grey;
}
.ratings {
  font-size: 12px;
}
footer p {
  color: white;
}
footer a {
  color: white;
}
.type-vg-label {
  display: flex;
  align-items: center;
  background-color: #22820e;
  width: 90px;
  padding: 5px;
  justify-content: space-evenly;
  border-radius: 10px;
}
.type-vg-label p {
  color: white;
}
.type-vr-label p {
  color: white;
}
.type-vr-label {
  display: flex;
  align-items: center;
  background-color: #89288f;
  color: white;
  justify-content: space-evenly;
  width: 90px;
  padding: 5px;
  border-radius: 10px;
}
.images-container {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.images-container img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
.restaurant-page {
  display: flex;
  justify-content: space-evenly;
  height: 80vh;
  margin-top: 20px;
}
.left-section {
  max-width: 50%;
}
.right-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}
.map-container {
  width: 300px;
  height: 300px;
  border: solid 1px #7b4ec4;
  margin-bottom: 20px;
}
.leaflet-container {
  width: 100%;
  height: 100%;
}
.icons {
  margin-right: 10px;
  color: #424242;
}
.payments {
  border: none;
  border-bottom: 1px solid #777777;
  border-top: 1px solid #777777;
  margin-top: 30px;
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
}
